* {
    font-family: Inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #f6f7f8;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 328px;
    height: 100vh;
}

h1 {
    font-size: 61px;
    line-height: 73.2px;
    width: 278px;
    height: 73px;
    position: absolute;
    top: 206px;
    left: 328px;
}

#content-box-left {
    width: 440px;
    gap: 16px;
}

#content-box-right {
    width: 440px;
    gap: 24px;
    height: 416px;
}

#content-box-container {
    width: 976.25px;
    position: absolute;
    top: 327px;
    left: 328px;
    height: 424px;
    display: flex;
    justify-content: space-between;
}

.subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #2a3647;
}

#title-container {
    position: relative;
    height: 96px;
}

#title-input-container {
    height: 64px;
}

#title-input,
#edit-title-input,
#board-title-input {
    width: 440px;
    height: 48px;
    padding: 12px 21px 12px 21px;
    gap: 10px;
    display: flex;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

#description-container {
    height: 168px;
}

#textarea-container {
    height: 136px;
}

#textarea-input,
#edit-textarea-input,
#board-textarea-input {
    height: 120px;
    padding: 18px 16px 18px 16px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    resize: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

#assigned-container,
#edit-assigned-container,
#board-assigned-container {
    position: relative;
    z-index: 1;
    height: 80px;
}

.select-container {
    height: 48px;
    padding: 12px 16px 12px 16px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#border-container {
    width: 0px;
    border: 1px solid #d1d1d1;
    margin-left: 48.25px;
    margin-right: 48.25px;
}

#date-container {
    position: relative;
    height: 96px;
}

#calender {
    height: 64px;
}

#date-input,
#edit-date-input,
#board-date-input {
    width: 440px;
    height: 48px;
    padding: 12px 16px 12px 16px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
}

#addTask {
    background-color: #091931;
    color: white;
}