@font-face {
    font-family: 'inter'; 
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2');
}

body {
    margin: 0;
    padding: 0;
}
body a {
    text-decoration: none;
}

#navSummarySelected {
    background-color: rgb(9, 25, 48);
}
#navSummaryTextSelected {
    color: white;
}

#right {
    flex: 1;
    width: 100vw;
    height: 100vh;
    position: fixed;                            
    margin-left: 230px;                         
    background-color: rgb(245, 246, 247);      
}
#main {
    flex: 1;
    background-color: rgb(245, 246, 247);
    padding-left: 70px;
    padding-right: 40px;
    padding-top: 120px;
    padding-bottom: 83px;
    margin-top: 5px;
}
#mainTitle {
    height: 73px;
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}
#mainTitleLeft span {
    font-size: 47px;
    font-weight: 700;
    border-right: 3px solid rgba(41, 171, 226, 1);
    padding-right: 30px;
}
#mainTitleRight span {
    font-size: 27px;
    font-weight: 400;
    color: rgba(42, 54, 71, 1);
}
#mainContentContainer {
    display: flex;
    align-items: center;
    gap: 80px;
}
#mainContent {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
#mainContentLine1 {
    display: flex;
    gap: 32px;
}
.mainContentLinePart {
    background-color: white;
    width: 235px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
.mainContentLinePart:hover .mainContentLineTextTop {
    color: white;
}
.mainContentLinePart:hover .mainContentLineTextBottom {
    color: white;
}
#mainContentLine2:hover .mainContentLineTextTop {
    color: white;
}
#mainContentLine2:hover .mainContentLineTextBottom {
    color: white;
}
#mainContentLine2:hover #date {
    color: white;
}
#mainContentLine2:hover #upcoming {
    color: white;
}
.mainContentLine3Part:hover .mainContentLine3Number {
    color: white;
}
.mainContentLine3Part:hover .mainContentLine3Text {
    color: white;
}
.transformRight:hover {
    cursor: pointer;
    background-color: rgb(42, 54, 71);
    color: white;
    transform: scale(1.075);
    transform-origin: left;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.2);
}
.transformLeft:hover {
    cursor: pointer;
    background-color: rgb(42, 54, 71);
    color: white;
    transform: scale(1.075);
    transform-origin: right;
    transition-duration: 125ms;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.2);
}
.transformCenter:hover {
    cursor: pointer;
    background-color: rgb(42, 54, 71);
    color: white;
    transform: scale(1.075);
    transform-origin: center;
    transition-duration: 125ms;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.2);
}
.transformBottomRight:hover {
    cursor: pointer;
    background-color: rgb(42, 54, 71);
    color: white;
    transform: scale(1.05);
    transform-origin: top left;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.2);
}
#mainContentLine2 {
    transition: all 100ms ease-in-out;
}
#mainContentLinePartLeft {
    transition: all 100ms ease-in-out;
}
.mainContentLinePart:hover .mainContentLine1Circle{
    background-color: white;
}
.mainContentLine1Circle {
    background-color: rgba(42, 54, 71, 1);
    border-radius: 100%;
    width: 69px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#edit {
    height: 32px;
    width: 32px;
}
#check {
    height: 22px;
    width: 30px;
}
.mainContentLineText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
#amountToDo {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    color: black;
}
.mainContentLineTextTop {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    color: black;
}
.mainContentLineTextBottom {
    font-size: 20px;
    font-weight: 400;
    color: black;
}
.center {
    text-align: center;
}
#mainContentLinePartLeft {
    background-color: white;
    width: 235px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border-radius: 30px;
}
#mainContentLine2 {
    width: 502px;
    height: 150px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
#mainContentLine2:hover {
    background-color: rgb(42, 54, 71);
    color: white;
}
#mainContentLine2:hover #mainContentLinePartLeft {
    cursor: pointer;
    background-color: rgb(42, 54, 71);
    color: white;
}
#mainContentLine2Circle {
    background-color: rgb(255, 60, 0);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#priorityIcon {
    width: 34px;
    height: 25px;
}
#mainContentLine2Middle {
    height: 102px;
    width: 1px;
    border-left: 2px solid rgba(209, 209, 209, 1);
    padding-right: 7px;
    padding-left: 30px;
}
#mainContentLine2Right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 50px;
    gap: 10px;
    color: black;
}
#date {
    font-size: 21px;
    font-weight: 700;
}
#upcoming {
    font-size: 16px;
    font-weight: 400;
}

#mainContentLine3 {
    display: flex;
    gap: 30px;
}
.mainContentLine3Part {
    width: 148px;
    height: 150px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
.mainContentLine3Part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainContentLine3Number {
    font-size: 64px;
    font-weight: 600;
    color: black;
}
.mainContentLine3Text {
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    color: black;
}
#greeting {
    display: flex;
    flex-direction: column;
}
#greetingText {
    font-size: 47px;
    font-weight: 500;
    color: rgba(42, 54, 71, 1);
}
#greetingName {
    font-size: 64px;
    font-weight: 700;
    color: rgba(41, 171, 226, 1);
}
#greetingMobile {
    display: flex;
    flex-direction: column;
}
#greetingTextMobile {
    font-size: 47px;
    font-weight: 500;
    color: rgba(42, 54, 71, 1);
}
#greetingNameMobile {
    font-size: 64px;
    font-weight: 700;
    color: rgba(41, 171, 226, 1);
}
#summary {
    background-color: #091931;
    color: white;
}